/*************************
    GALLERY & BROCURES
**************************/

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.poster {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.poster-container {
    text-align: center;
    margin: 15px auto;
    width:225px;
    height: 300px;
}

.poster-container img {
    max-width: 100%;
    width: 225px;
    height: 300px;
}

.poster-overlay {
    /*.color: #fff;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center; /*For centering text inside .photo...*/
    /*align-items: center;*/
    background: rgba(0,0,0,0,.5);
}

.photo-overlay {
    /*.color: #fff;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /*For centering text inside .photo...*/
    /*align-items: center;
    Not clear why this isn't working now. It was fine earlier...*/
    background: rgba(0,0,0,.5);
}

.photo-container H3 {
    color: rgba(253,238,167,1);

    margin-top: 5%;
    line-height: 30px;
    padding-bottom: 20px;
}

.poster-container H3 {
    color: rgba(253,238,167,1);/***CHANGE TO MATCH PURPLE OF MENU & RSPV****/
    margin-top: 15%;
    line-height: 30px;
    padding-bottom: 10px;
}

/***************************
    OVERLAY TRANSITIONS
****************************/

.poster-overlay,
.photo-overlay {
    opacity: 0;
    transition: opacity .1s;
    border-radius: 10px;
    cursor: pointer;   
}

.poster-overlay {
    background-color: rgba(201,189,170,.7);
}

.poster-overlay:hover,
.poster-overlay:hover {
    opacity: 1;
}

.poster img,
.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.poster:hover img,
.photo:hover img {
    transform: scale(1.1);
}

.photo-overlay p {
    width: 100%;
    height: 100%;
    color: #fff;
}

.poster-overlay p {
    width: 100%;
    height: 100%;
    color: #514d57;
    font-weight: 1000;
    margin-top: 10%;
}